<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="icon" type="image/png" href="img/logo.png">
    <title>Atlantis</title>
  </head>
  <body>

    <header>
      <nav>
        <ul>
          <li>
            <div class="button">
              <span></span>
            </div>
          </li>
          <li><a href="#">Contact</a>
            <ul class="submenu nav">
              <li><p class="id_menu start">Menu:</p><br><br></li>
              <li><a href="#" class="id_menu">Téléchargement</a><br><br></li>
              <li><a href="#" class="id_menu end">Crédits</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="selected">Home</a>
          </li>
          <li class="atl"><a>Atlantis</a></li>
        </ul>
      </nav>
    </header>

    <div class="title">
      <h1>Atlantis RP</h1>
      <h2>Arma 3</h2>
    </div>

    <div class="banner padd">
      <div class="text_banner text_banner_right">
        <h1>TAOMASINA</h1>
        <p>Plusieurs années passées sur cette map pour vous proposer les meilleurs <br>
          lieux afin de réaliser vos futures actions roleplay.</p>
      </div>
      <img src="img/carte.jpg" alt="">
    </div>
    <div class="banner">
      <img src="img/vehicles.jpg" alt="">
      <div class="text_banner text_banner_left">
        <h1>VÉHICULES</h1>
        <p>Plus de 100 véhicules disponibles pour trouver celui qui vous accompagnera sur toutes vos scènes rp.</p>
      </div>
    </div>
    <div class="banner padd">
      <div class="text_banner text_banner_right">
        <h1>SCRIPTS</h1>
        <p>Des dizaines de scripts développer en lien avec le gameplay choisi.</p>
      </div>
      <img src="img/script_photo.jpg" alt="">
    </div>

    <div class="banner banner2 padd">
      <h1 class="banner_titre">Check our services</h1>
      <div class="div_banner">
        <div class="line">
          <div class="subpart">
            <h1>lorem</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non deserunt perspiciatis obcaecati error, dolorum pariatur facilis, nihil ducimus ipsam maxime distinctio reprehenderit labore dolorem doloribus harum magni architecto! Dolor, velit.</p>
          </div>
          <div class="subpart">
            <h1>lorem</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur mollitia praesentium sapiente, dicta necessitatibus dolorum facere id esse voluptates voluptatem.</p>
          </div>
        </div><br>

        <div class="line">
          <div class="subpart">
            <h1>lorem</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus molestias nesciunt eum iste commodi rerum magni illo! Magnam et vel quo, incidunt atque odit nulla similique nostrum, repellat quisquam voluptatum suscipit officia vitae nobis, debitis facere commodi repudiandae. Unde facilis facere quod delectus esse ipsum voluptatibus perferendis ea? Impedit, nulla.</p>
          </div>
          <div class="subpart">
            <h1>lorem</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro aut saepe ab dolor optio minima ad atque facere obcaecati eligendi magni pariatur animi doloremque vero, minus, debitis expedita aliquid ut veritatis blanditiis rerum enim odio dolorem dolore. Rerum, porro fuga.</p>
          </div>
        </div><br>

        <div class="line">
          <div class="subpart">
            <h1>lorem</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos qui, veritatis accusamus, debitis soluta sunt quod repellendus mollitia deserunt nesciunt iusto vero suscipit magni temporibus! Officia sequi nobis illo mollitia!</p>
          </div>
          <div class="subpart">
            <h1>lorem</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, voluptatibus perspiciatis? Cumque exercitationem voluptatem atque a consequatur modi dolores ratione. Voluptatibus magni repellendus officia, reiciendis, praesentium delectus sit esse dicta consequatur debitis, deserunt temporibus earum quidem facilis minima vitae sapiente?</p>
          </div>
        </div>
      </div>
    </div>

    <div class="banner banner3 padd">
      <img src="img/carte.jpg" alt="">
      <h1>Lucas Cordonn</h1>
      <h3>Project Manager</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, earum alias sed quas obcaecati vel deleniti beatae consequatur et repellat nihil nam quaerat nobis corrupti sequi ut architecto impedit commodi. Quis vero nam blanditiis odit dolores alias, error ipsum. Quod.</p>
    </div>

    <footer>
      <div>
        <p>© Atlantis RP. All rights reserved</p>
        <p>|</p>
        <p>Developer: Killian Ferrier</p>
      </div>
    </footer>

    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
