header{
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  transition: all 0.5s;
}
header.active{
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  background-color: rgba(46, 49, 65, 0.7);
  transition: all 0.5s;
}
.selected{
  text-decoration: underline;
}

nav{
  width: 100%;
}
nav > ul {
  margin: 0px;
  padding: 0px;
}
nav > ul::after{
  content: "";
  display: block;
  clear: both;
}
nav > ul > li{
  float: right;
  padding-right: 1.5em;
  position: relative;
}
nav > ul > li > a{
  padding: 20px 30px;
  color: #FFF;
  font-size: 23px;
}
nav li{
  list-style-type: none;
}
nav a {
  display: inline-block;
  text-decoration: none;
}
nav > ul > li > p{
  padding: 20px 30px;
  color: #FFF;
  font-size: 23px;
}
nav p {
  display: inline-block;
  text-decoration: none;
}
.atl{
  float: left;
}
.id_menu{
  color: white;
  padding: 10px 3em;
}
.start{
  padding-top: 2em;
}
.end{
  padding-bottom: 3em;
}
.submenu{
  color: white;
  background-color: rgba(46, 49, 65, 0.7);
  padding: 0;
  margin: 0;
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 1000;
}
.nav{
  margin-top: -40em;
  transition-duration: 0.4s;
}
.nav_open{
  margin-top: 0em;
  transition-duration: 0.4s;
}

.button{
  height: 30px;
  width: 30px;
  position: relative;
  float: right;
  margin-right: 25px;
  margin-top: 0.75em;
  margin-left: 1em;
  cursor: pointer;
}
.button span{
  height: 3px;
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
  position: absolute;
  top: 20px;
  left: 0;
}
.button span:before{
  content: '';
  height: 3px;
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
  position: absolute;
  top: -10px;
  left: 0;
}
.button span:after{
  content: '';
  height: 3px;
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0;
}
