html,
body {
  height: 100%;
  overflow: hidden;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.Loop {
  position: relative;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.title {
  background-color: #000000;
  height: 100vh;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title h1 {
  color: white;
  position: absolute;
  font-size: 4em;
  top: 30%;
  margin-right: auto;
  margin-left: auto;
  animation: robotino 2s ease-in-out alternate both;
  letter-spacing: 5px;
}

@keyframes robotino {
  from {
    letter-spacing: 100vw;
  }
  to {
    letter-spacing: 15px;
  }
}

/* Containers */

.containerElements {
  position: relative;
  height: 100vh;
  scroll-snap-align: start;
}

.titreContain {
  font-size: 2em;
  padding-top: 25px;
  text-align: center;
  padding-top: 80px;
}
.desc{
    padding-top: 10px;
  width: 50%;
  justify-content: center;
  transform: translateX(50%);
  display: flex;

}

/*******/

.presentation {
  background-color: #1a5276;
  color: white;
  position: relative;
}
.twoSeparation {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.listEvents1 {
  padding:10px;
  width: 50%;
  justify-content: center;
  transform: translateX(50%);
}
.listEvents1 li {
  list-style: upper-roman;
}
.images{
  display: flex;
}
.img1{
  padding-left: 130px;
  width: 10%;
  justify-content: center;
  transform: translateX(90%);
}

.img2{
  width: 20%;
  justify-content: center;
  transform: translateX(90%);
}

.img3{
  padding-left: 100px;
  width: 10%;
  justify-content: center;
  transform: translateX(90%);

}

/*******/

.parcoursScolaire {
  background-color: #e74c3c;
  color: white;
}


.containerImagesParcours{
  padding-left: 290px;
  width: 5%;
  justify-content: center;
  transform: translateX(95%);
  display: flex;
}


/*******/

.parcoursProfessionnel {
  background-color: rgba(223, 219, 219, 0.555);
}
.image{
  position: absolute; 
  top: 65%; 
  left: 50%; 
  transform: translate(-45%, -50%);
}

/*******/

.ski {
  background-color: #3498db;
  color: white;
}
.containerImageSki{
  position: absolute; 
  top: 65%; 
  left: 50%; 
  transform: translate(-45%, -50%);
}

/*******/


.projetAvenir {
  background-color: #5d6d7e;
  color: white;
}
.imageCyber{
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}


/*******/
.passion {
  background-color: #eb984e;
}
.desc1 {
  padding-top: 10px;
  width: 50%;
  transform: translateX(50%);
  justify-content: space-evenly;
}
.imagemoto{
  padding-top: 5%;
  padding-left: 35%;
  width: 100%; 
  height: 50%; 
  overflow: hidden;
}
.imagesdesert{
  padding-left: 10%;
}

/*******/

.voyages {
  background-color: SeaGreen;
  color: white;
}
.imagesdesert{
  padding-top: 5%;
  width: 100%; 
  height: 50%; 
  overflow: hidden;
}
/*******/

.programmation {
  background-color: #1b2631;
  color: white;
}

.inlineLogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 150px;
}
.descriptionProgrammationCont{
  padding-top: 100px;
}
.pProgrammation {
  font-size: 1.3em;
  padding-top: 150px;
  padding:15px;
  text-align: center;
}





